

# images directory
img*

# python caches
__pycache__

# old files (this is temporary during the transition period)
old*

# mevlookup files are generated outputs
mevlookup.f03
mevlookup.f90

# compiled files
*.mod
*.o
*.so

# virtual environment directories
MEVLIB.egg-info
virtualenv


